$borderRadius: 0.45rem; // border radius

// fonts
$fontText: 'Roboto', sans-serif; 
$fontHeading:"Orbitron", sans-serif;

// colors
$headerColor: #131d44; // header color
$primaryColor: #6fff00; // primary color
